{% load static %}


<!DOCTYPE html>
<html lang="ru">
	<head>
		<link rel="stylesheet" type="text/css" href="{% static 'auth.css' %}">
		<meta charset="UTF-8">
		<title>PARMA</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
	</head>
	{% block content %}
		<header>
			<a href="#">
				<img src="{% static 'image.png' %}">
			</a>
		</header>
		<div class="container">
			<div class="authBlock">
                <h1 class=bigbalddavid>Авторизация</h1>
                {% if error_message %}
                    <p class="error">{{ error_message }}</p>
                {% endif %}
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <p class=smalldavid>Логин</p>
                    <div class="input-form">
                        <label>
                            <input name="username">
                        </label>
                    </div>
                    <p class=smalldavid>Пароль</p>
                    <div class="input-form">
                        <label>
                            <input name="password" type="password">
                        </label>
                    </div>
                    <div class="buttonSubmit">
                        <input type="submit" value="Войти">
                    </div>
                </form>

		</div>
	{% endblock %}
</html>
