{% load static %}


<!DOCTYPE html>
<html lang="ru">
	<head>
		<link rel="stylesheet" type="text/css" href="{% static 'login/auth.css' %}">
		<meta charset="UTF-8">
		<title>PARMA</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
	</head>
	<body>
    	{% block content %}
		<header>
			<a href="/info">
				<img src="{% static 'login/image.png' %}">
			</a>
		</header>
		<div class="container">
            <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
			<div class="authBlock">


				<h1 class=authoriz>Авторизация</h1>
				<p class=login>Логин</p>
				<div class="input-form">
                    <label>
                        <input name="username">
                    </label>
                </div>

				<p class=login>Пароль</p>
				<div class="input-form">
                    <label>
                        <input name="password" type="password">
                    </label>
                </div>

			</div>

			<button class="buttonSubmit">
				<input type="submit" value="Войти">
			</button>
            </form>

            {% if failed %}
              <div class="modalplus">
                <a href="#close" title="Close" class="close">×</a>
                <div class="exeption">
                  <h1 class="exh1">Ошибка!</h1>
                </div>
                <p class="exp">Вы ввели неправильный логин или пароль, пробуйте снова.</p>
              </div>
            {% endif %}

		</div>
    	{% endblock %}
	</body>
</html>