{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../../static/main/style.css">
	<meta charset="UTF-8">
	<title>PARMA</title>

	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>

<body>
    <header>
        <a href="#">
            <img src="{% static 'login/image.png' %}">
        </a>
        <button class="exit">
            <input type="submit" value="Выход">
        </button>
    </header>


    <a href="/cart">
        <button class="cartbtn">
            <input type="submit" value="Корзина">
                <ion-icon class="korsina" name="cart-outline">Корзина</ion-icon>
        </button>
    </a>

    {% if admin %}
        <a href="/staff">
            <button class="staffbtn">
            <input type="submit" value="Сотрудники">

                <ion-icon class="stafficon" name="accessibility-outline">Челик</ion-icon>

            </button>
        </a>
    {% endif %}

    <a href="#openModalhistory" class="report">Отчет</a>

    <a href="#openModalhistory" class="hystorysubmit">История покупок</a>

    <div class="fiod">
        <span class="fio">{{ last_name }} {{ first_name }} {{ surname }}</span>
    </div>
    <div class="infd">
        <span class="post">{{ spec }}</span>
        {% if birthday != 'None' %}
            <span class="experience">{{ birthday|date:"d/m/y" }}</span>
        {% endif %}
    </div>
    <div class="skin">
        <ion-icon class="person" name="person-outline"></ion-icon>
    </div>

    <div class="balld">
        <ion-icon class="ballicon" name="ticket-outline">Баллов</ion-icon>
        <span class="ball">{{ money }}</span>
    </div>
    <h1 class="textlgota">Поиск льгот</h1>
    <div class="poisklgota">
        <ion-icon class="searchicon" name="search-outline"></ion-icon>
        <input class="searchinput" type="text">
    </div>
    <button class="sortbtn">
        <ion-icon class="sorticonl" name="stats-chart"></ion-icon>
        <span class="sorttext">Сортировать: по цене</span>
    </button>

    <a href="https://drive.google.com/drive/folders/1LDDs23lEomlUqF8fWJ5JNvNgNfmtlIgy?usp=share_link">
        <button class="spravkabtn">
            <span class="spravkatext">Справка по получению баллов</span>
            <ion-icon class="spravkaiconr" name="chevron-down-outline"></ion-icon>
        </button>
    </a>

    <div class="list">
        {% for product in products %}
            <div class="lgota">
                <span class="lgotaname" title="{{ product.description }}">{{ product.name }}</span>
                <span class="lgotaprice">{{ product.price }}</span>
                {% if admin %}
                <button class="lgotadelete" type="submit" form="delete{{ product.pk }}">
                    <span>×</span>
                </button>
                <form id="delete{{ product.pk }}" method="post" action="{% url 'delete_product' product.pk %}" hidden="true">
                    {% csrf_token %}
                </form>
                {% endif %}
                {% if product in wishlist %}
                    <button class="lgotabtn" type="submit" disabled>
                        <span class="lgotakorsina">В корзину</span>
                    </button>
                    {% else %}
                    <button class="lgotabtn" type="submit" form="add{{ product.pk }}">
                        <span class="lgotakorsina">В корзину</span>
                    </button>
                    {% endif %}
                <form id="add{{ product.pk }}" method="post" action="{% url 'add_to_wishlist' product.pk %}" hidden="true">
                    {% csrf_token %}
                </form>
            </div>
        {% endfor %}
    </div>

    <div id="openModalhistory" class="modalhistory">
        <a href="#close" title="Close" class="close1">×</a>

        <div class="historymodaldiv">
            <h1 class="historymodalh1">История покупок</h1>
        </div>

        <div class="historymodallist">
            {% for purchase in purchases %}
            <div class="buy">
                <span class="buyname">{{ purchase.product }}</span>
                <span class="buydate">{{ purchase.date|date:"d/m/y" }}</span>
                <span class="buypromocod">{{ purchase.promocod }}</span>
            </div>
            {% endfor %}
        </div>
    </div>

    {% if admin %}
        <button class="pluslgota">
            <a href="#openModalplus" class="pluslgotatext">Добавить льготу</a>
        </button>
        <form method="POST" action="{% url 'create_product' %}">
            {% csrf_token %}
            <div id="openModalplus" class="modalplus">
                <a href="#close" title="Close" class="close">×</a>
                <h1 class="pluslgotamodal">Название льготы</h1>
                <div class="pluslgotainput">
                    <input class="pluslgotaname" type="text" name="name">
                </div>
                <h1 class="pluslgotamodal">Цена льготы</h1>
                <div class="pluslgotainput">
                    <input class="pluslgotamoney" type="text" name="price">
                </div>
                <h1 class="pluslgotamodal">Описание</h1>
                <div class="pluslgotainput">
                    <input class="pluslgotamoney" type="text" name="description">
                </div>
                <button class="plusbtn">
                    <input type="submit" value="Добавить">
                </button>
            </div>
        </form>
        
    {% endif %}


    <script src="{% static 'main/sort.js' %}"></script>
    <script src="{% static 'main/logout.js' %}"></script>
</body>
</html>

{% endblock %}