{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../../static/main/info.css">
	<meta charset="UTF-8">
	<title>PARMA</title>

	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>

<body>
    <header>
        <a href="#">
            <img src="{% static 'login/image.png' %}">
        </a>

        <a href="/login">
            <button class="btnin">
                <input type="submit" value="Войти">
                <ion-icon class="inicon" name="person-circle-outline"></ion-icon>
            </button>
        </a>
    </header>

    <div class="osn">

        <div class="textdiv">
            <p class="textp">
                Кафетерий льгот  - это программа заботы о сотрудниках и улучшение качества их жизни
            </p>
            <p class="textp">
                Копите баллы за участие в различных мероприятиях, за личные заслуги
            </p>
            <p class="textp">
                Тратьте баллы в личном кабинете на нужные вам льготы
            </p>
            <p class="textp">
                Авторизуйтесь для просмотра списка доступных льгот
            </p>
        </div>

        <div class="name">
            <span class="namespan">Кафетерий льгот</span>
        </div>

        <a href="https://www.parma.ru">
            <button class="btninfk">
            <span class="inf">Информация о компании</span>
            </button>
        </a>


        <button class="btninfs">
            <span class="inf">Информация для сотрудников</span>
        </button>

        <button class="btninfa">
            <span class="inf">Информация для Администратора</span>
        </button>

    </div>
</body>
</html>