body 
{
	width: 1920px;
    height: 100%;
	margin: 0px;
}
.osn{
    padding: 0px;
    margin: 0px;
    width: 1920px;
    height: 1056px;
    background: url(фон.png); /* Фоновый цвет и фоновый рисунок*/
	background-repeat: no-repeat; /* Изображение повторяется по горизонтали */
    background-size: 1920px;
}
header {
    position: relative;
	background: #EC1C24;
}
.btnin{
    position: absolute;
    top: 10px;
    left: 1687px;
    width: 221px;
    height: 70px;

    background: #323E49;
    border: 4px solid #323E49;
    border-radius: 90px;
    display: flex;
    align-items: center;
    
}
.btnin:hover{
    border-color: #D9D9D9;
}
.btnin input{
    background: none;
    border: none;
    position: absolute;
    width: 112px;
    height: 36px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 105.9%;

    color: #FFFFFF;
    left: 60px;
}
.inicon{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 5px;

}
.name{
    position: relative;
    width: 593px;
    height: 108px;

    background: rgba(255, 255, 255, 0.55);
    border-radius: 70px;
    left: 39px;
    top: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.namespan{
    width: 554px;
    height: 70px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 58px;
    line-height: 71px;

    color: #323E49;
}
.textdiv{
    position: absolute;
    top: 278px;
    left: 823px;
    width: 864px;
    height: 637px;

    background: rgba(255, 255, 255, 0.55);
    border-radius: 60px;
}
.textp{
    position: relative;
    left: 20px;
    top: 20px;
    width: 804px;
    height: 100px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;

    color: #000000;
}
.btninfk{
    position: absolute;
    width: 389px;
    height: 110px;
    left: 58px;
    top: 360px;

    background: #323E49;
    border-radius: 45px;
    border: 4px solid #323E49  ;
}
.btninfk:hover{
    border-color: #D9D9D9;
}
.btninfs{
    position: absolute;
    width: 389px;
    height: 110px;
    left: 58px;
    top: 613px;

    background: #323E49;
    border-radius: 45px;
    border: 4px solid #323E49  ;
}
.btninfs:hover{
    border-color: #D9D9D9;
}
.btninfa{
    position: absolute;
    width: 389px;
    height: 110px;
    left: 58px;
    top: 866px;

    background: #323E49;
    border-radius: 45px;
    border: 4px solid #323E49  ;
}
.btninfa:hover{
    border-color: #D9D9D9;
}
.inf{
    width: 351px;
    height: 69px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 105.9%;
    /* or 38px */

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}