{% extends 'base.html' %}

{% block content %}
    <a href="{% url 'logout' %}">Logout</a>
    <a href="{% url 'shop' %}">НАЗАД</a>
          <p> Имя - {{ user.first_name }}</p>
          <p> Фамилия - {{ user.last_name }}</p>
          <p> Почта - {{ user.email }}</p>
          <p> Баланс - {{ user.money }}</p>
  <h2>Список льгот</h2>
  <ul>
    {% for product in products %}
      <li>{{ product.name }} - {{ product.price }} руб.
        <form method="post" action="{% url 'product_purchase' product.pk %}">
          {% csrf_token %}
          {% if user.money < product.price %}
            <input type="submit" value="Купить" disabled>
          {% else %}
            <input type="submit" value="Купить">
          {% endif %}
        </form>
        <form method="post" action="{% url 'add_to_wishlist' product.pk %}">
          {% csrf_token %}
          {% if product in wishlist %}
          <input type="submit" value="Добавить" disabled>
          {% else %}
            <input type="submit" value="Добавить">
          {% endif %}
        </form>
      </li>
    {% endfor %}
  </ul>
  <h2>Список приобретённых льгот</h2>
  <ul>
    {% if purchases %}
    {% for purchase in purchases %}
      <li>{{ purchase }}</li>
    {% endfor %}
    {% endif %}
  </ul>
  <h2>Список желаний</h2>
  <ul>
    {% if wishlist %}
    {% for product in wishlist %}
    <li>{{ product.name }} - {{ product.price }} руб.
      <form method="post" action="{% url 'product_purchase' product.pk %}">
        {% csrf_token %}
        {% if user.money < product.price %}
          <input type="submit" value="Купить" disabled>
        {% else %}
          <input type="submit" value="Купить">
        {% endif %}
      </form>
      <form method="post" action="{% url 'remove_from_wishlist' product.pk %}">
        {% csrf_token %}
        <input type="submit" value="Удалить">
      </form>
    </li>
    {% endfor %}
    {% endif %}
  </ul>
{% endblock %}
